doctype html
html
  head
    title Home Page
  body
    h1 Welcome to the Home Page

    button(onclick="location.href='/signup'") New User
    button(onclick="alert('Sign In not implemented')") Sign In
